#parse("/velocity/layout.vm")
#@mainLayout()
<h1>$msg.get("ISSUES_HEADING_ALL")</h1>
<div>
    <table cellspacing="10">
        <tr>
            <th>Issue</th>
            <th>Status</th>
            <th>Date</th>
        </tr>
        #foreach($issue in $issues)
            <tr>
                <td><a href="$WebPath.getISSUES()$issue.getIssue_id()">$issue.getName()</a></td>
                <td>$issue.getStatus()</td>
                <td>$issue.getStartdate()</td>
            </tr>
        #end
    </table>
</div>
#end
