#parse("/velocity/layout.vm")
#@mainLayout()
<h1>$msg.get("ISSUES_HEADING_ALL")</h1>
##<div class="row row-3">
<div>
    <table>
        <caption>Issue Tracker</caption>
        <tr>
            <th>Issue</th>
            <th>Status</th>
            <th>Date</th>
        </tr>
        #foreach($issue in $issues)
            <tr>
                <td><a href="$WebPath.getISSUES()$issue.getIssue_id()">$issue.getName()</a></td>
                <td>$issue.getStatus()</td>
                <td>$issue.getStartdate()</td>
            </tr>
        #end
    ##        <div class="col">


    ##                <div class="bookCover">
    ##                    <img src="$issue.getMediumCover()" alt="$issue.getTitle()">
    ##                </div>
    ##                $msg.get("BOOKS_CAPTION", $issue.getTitle(), $issue.getAuthor())
    ##            </a>
    ##        </div>
    ##        #end
    </table>
</div>
#end
