#* @implicitly included *#
#* @vtlvariable name="WebPath" type="com.axmor.util.Path.Web" *#
#* @vtlvariable name="msg" type="com.axmor.util.MessageBundle" *#
#* @vtlvariable name="issues" type="java.lang.Iterable<com.axmor.issue.Issue>" *#
#* @vtlvariable name="issue" type="com.axmor.issue.Issue" *#
#* @vtlvariable name="employees" type="java.lang.Iterable<com.axmor.employee.Employee>" *#
#* @vtlvariable name="employee" type="com.axmor.employee.Employee" *#
#* @vtlvariable name="currentUser" type="java.lang.String" *#
#* @vtlvariable name="createdUser" type="java.lang.String" *#
#* @vtlvariable name="loggedOut" type="java.lang.String" *#
#* @vtlvariable name="authenticationFailed" type="java.lang.String" *#
#* @vtlvariable name="authenticationSucceeded" type="java.lang.String" *#
#* @vtlvariable name="loginRedirect" type="java.lang.String" *#
#* @vtlvariable name="loginAlreadyExist" type="java.lang.String" *#
#* @vtlvariable name="specCharExist" type="java.lang.String" *#
#* @vtlvariable name="issueAlreadyExist" type="java.lang.String" *#
#* @vtlvariable name="createSucceeded" type="java.lang.String" *#
#* @vtlvariable name="signupSucceeded" type="java.lang.String" *#
#* @vtlvariable name="empty_log" type="java.lang.Integer" *#
#* @vtlvariable name="issue_logs" type="java.lang.Iterable<com.axmor.issue_log.IssueLog>" *#
#* @vtlvariable name="issue_log" type="com.axmor.issue_log.IssueLog" *#
#* @vtlvariable name="Allstatus" type="java.lang.Iterable<com.axmor.status.Status>" *#
#* @vtlvariable name="status" type="com.axmor.status.Status" *#


