#macro(mainLayout)
<html>
<head>
    <title>$msg.get("COMMON_TITLE")</title>
    <link rel="stylesheet" href="/main.css">
    <link rel="icon" href="/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<header>
    <nav>
        <ul id="menu">
            <li><a href="$WebPath.getISSUES()">$msg.get("COMMON_NAV_ALLISSUES")</a></li>
            #if($currentUser)
                <li>
                    <form method="post" action="$WebPath.getLOGOUT()">
                        <button id="logout">$msg.get("COMMON_NAV_LOGOUT")</button>
                    </form>
                </li>
            #else
                <li><a href="$WebPath.getLOGIN()"">$msg.get("COMMON_NAV_LOGIN")</a></li>
                <li><a href="$WebPath.getSIGNUP()"">$msg.get("COMMON_NAV_SIGNUP")</a></li>
            #end
        </ul>
    </nav>
</header>
<main>
    <div id="content">
        $bodyContent
    </div>
</main>
##<footer>
##    $msg.get("COMMON_FOOTER_TEXT")
##</footer>
</body>
</html>
#end
