#parse("/velocity/layout.vm")
#@mainLayout()
<form id="loginForm" method="post">
    #if($loginAlreadyExist)
        <p class="bad notification">$msg.get("LOGIN_SIGNUP_FAILED")</p>
    #elseif($specCharExist)
        <p class="bad notification">$msg.get("LOGIN_SIGNUP_FAILED_SPEC_CHAR", "Login")</p>
    #elseif($signupSucceeded)
        <p class="good notification">$msg.get("LOGIN_SIGNUP_SUCCEEDED", $createdUser)</p>
    #end
    <h1>$msg.get("SIGNUP_HEADING")</h1>
    <label>$msg.get("LOGIN_LABEL_USERNAME")</label>
    <input type="text" name="login" placeholder="$msg.get("LOGIN_LABEL_USERNAME")" value="" required>
    <label>$msg.get("LOGIN_LABEL_PASSWORD")</label>
    <input type="password" name="password" placeholder="$msg.get("LOGIN_LABEL_PASSWORD")" value="" required>
    <input type="submit" value="$msg.get("LOGIN_BUTTON_SIGNUP")">
</form>
#end
